
<!--suppress HtmlUnknownTarget -->

<div id="new-post">
    <h1>New Post</h1>


    <!----------------FORM HEADER---------------->    <!----------------FORM HEADER----------------->
    <form id="form-header" class="form-var">
        <div class="form-group" id="select-post-type-x">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Type</div>
                </div>
                <label class="control-label" for="select-post-dropdown-x"> </label>
                <div class="dropdown form-control dark" id="select-post-dropdown-x">
                    <button class="btn dropdown-toggle"
                            type="button"
                            id="dropdown-btn-x"
                            data-toggle="dropdown">
                            Select
                    </button>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item opt" role="menuitem" name="Learned" href="#">Today I Learned</a>
                        <a class="dropdown-item opt" role="menuitem" name="Thought" href="#">Today I Thought</a>
                        <a class="dropdown-item opt" role="menuitem" name="Heard"   href="#">Today I Heard</a>
                        <a class="dropdown-item opt" role="menuitem" name="Watched" href="#">Today I Watched</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" id="post-title-div-x">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Title</div>
                </div>
                <label class="control-label" for="post-title-x"> </label>
                <input type="text" class="form-control dark" id="post-title-x" name="new-post-type-selection">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="post-body-x"> </label>
            <textarea class="form-control dark" id="post-body-x" rows="12" name="new-post-type-selector"> </textarea>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group x-form">
                    <label for="submit-x"> </label>
                    <div class="input-group">
                        <button type="submit" class="btn post-btn" id="submit-x">Post</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-------------END FORM HEADER--------------->    <!-------------END FORM HEADER--------------->




    <!-------------FORM HEARD-------------------->    <!----------------FORM HEARD----------------->
    <form id="form-type-h" class="form-var" action="/new_heard" method="post">
        <div class="form-group" id="select-post-type-h">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Type</div>
                </div>
                <label class="control-label" for="select-post-dropdown-h"> </label>
                <div class="dropdown form-control dark" id="select-post-dropdown-h">
                    <button class="btn dropdown-toggle"
                            type="button"
                            id="dropdown-btn-h"
                            data-toggle="dropdown">
                            Select
                    </button>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item opt" role="menuitem" name="Learned" href="#">Today I Learned</a>
                        <a class="dropdown-item opt" role="menuitem" name="Thought" href="#">Today I Thought</a>
                        <a class="dropdown-item opt" role="menuitem" name="Heard" href="#">Today I Heard</a>
                        <a class="dropdown-item opt" role="menuitem" name="Watched" href="#">Today I Watched</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" id="post-title-div-h">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Title</div>
                </div>
                <label class="control-label" for="post-title-h"> </label>
                <input type="text" class="form-control dark" id="post-title-h" name="heardTitle" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="post-body-h"> </label>
            <textarea class="form-control dark" id="post-body-h" rows="12" name="heardBody" required> </textarea>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group heard-form">
                    <label class="control-label" for="artist-name-h"> </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Artist</div>
                        </div>
                        <input type="text" class="form-control dark" id="artist-name-h" name="heardArtist">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group heard-form">
                    <label class="control-label" for="album-title-h"> </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Album</div>
                        </div>
                        <input type="text" class="form-control dark" id="album-title-h" name="heardAlbum">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group heard-form">
                    <label class="control-label" for="track-title-h"> </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Track</div>
                        </div>
                        <input type="text" class="form-control dark" id="track-title-h" name="heardTrack">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group heard-form">
                    <label class="control-label" for="url-h"> </label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">URL</div>
                        </div>
                        <input type="url" class="form-control dark" id="url-h" name="heardLink">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group heard-form">
                    <label for="rating-h" class="control-label"> </label>
                    <div class="input-group" id="rating-div">
                        <div class="input-group-prepend">
                            <div class="input-group-text" id="rating-text-div-h">Select Rating 0-10</div>
                        </div>
                        <input id="rating-h" class="form-control dark" type="range" min="0" max="10" value="5" step="1" list="rating-list" name="heardRating">
                        <datalist id="rating-list-h">
                            <option value="0">
                            <option value="1">
                            <option value="2">
                            <option value="3">
                            <option value="4">
                            <option value="5">
                            <option value="6">
                            <option value="7">
                            <option value="8">
                            <option value="9">
                            <option value="10">
                        </datalist> <!--https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group heard-form">
                    <label for="submit-h"> </label>
                    <div class="input-group">
                        <button type="submit" class="btn post-btn" id="submit-h">Post</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!------------ END FORM HEARD --------------->    <!-------------END FORM HEARD--------------->




    <!------------ FORM: WATCHED----------------->    <!----------------FORM WATCHED----------------->
    <form id="form-type-w" class="form-var" action="/new_watched" method="post">
        <div class="form-group" id="select-post-type-w">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Type</div>
                </div>
                <label class="control-label" for="select-post-dropdown-w"> </label>
                <div class="dropdown form-control dark" id="select-post-dropdown-w">
                    <button class="btn dropdown-toggle" type="button" id="dropdown-btn-w" data-toggle="dropdown">Select</button>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item opt" role="menuitem" name="Learned" href="#">Today I Learned</a>
                        <a class="dropdown-item opt" role="menuitem" name="Thought" href="#">Today I Thought</a>
                        <a class="dropdown-item opt" role="menuitem" name="Heard"   href="#">Today I Heard</a>
                        <a class="dropdown-item opt" role="menuitem" name="Watched" href="#">Today I Watched</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" id="post-title-div-w">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Title</div>
                </div>
                <label class="control-label" for="post-title-w"> </label>
                <input type="text" class="form-control dark" id="post-title-w" name="watchedTitle" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="post-body-w"> </label>
            <textarea class="form-control dark" id="post-body-w" rows="12" name="watchedBody" required> </textarea>
        </div>
        <!-- ROW: URL CHECK & INPUT -->
        <div class="row">
            <div class="col-4 watched-col">
                <div class="form-group">
                    <div class="input-group">
                        <label class="form-check-label" for="url-check-w">
                            <input type="checkbox" class="form-check-input" id="url-check-w" name="watchedUrlCheck">Add Link
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-8 watched-col" id="url-input-outer-div-w">
                <div class="form-group">
                    <div class="input-group" id="url-input-inner-div-w">
                        <div class="input-group-prepend" id="url-prepend-w">
                            <div class="input-group-text">LINK</div>
                        </div>
                        <label class="control-label" for="url-input-w"> </label>
                        <input type="url" class="form-control dark" id="url-input-w" name="watchedUrl">
                    </div>
                </div>
            </div>
        </div>
        <!-- END ROW: URL CHECK & INPUT -->

        <!-- ROW: FILE CHECK & INPUT -->
        <div class="row">
            <div class="col-4 watched-col">
                <div class="form-group">
                    <div class="input-group">
                        <label class="form-check-label" for="file-check-w">
                            <input type="checkbox" class="form-check-input" id="file-check-w" name="watchedFileCheck">Add File
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-8 watched-col" id="file-input-outer-div-w">
                <div class="form-group">
                    <div class="input-group" id="file-input-inner-div-w">
                        <div class="input-group-prepend" id="file-prepend-div-w">
                            <div class="input-group-text" id="file-prepend-text-w">FILE</div>
                        </div>
                        <label class="control-label custom-file-upload" for="file-input-w" id="file-input-label-w">
                            <input type="file" class="custom-file-upload form-control dark" id="file-input-w" name="watchedFileInput" title="">
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- END ROW: FILE CHECK & INPUT -->


        <!-- ROW: WATCHED SUBMIT BUTTON -->
        <div class="row">
            <div class="col-12" id="submit-div-w">
                <div class="form-group">
                    <div class="input-group">
                        <label for="submit-w"> </label>
                        <button type="submit" class="btn post-btn" id="submit-w" name="watchedSubmit">Post</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END ROW: WATCHED SUBMIT BUTTON -->
    </form>
    <!------------ END FORM WATCHED ------------->    <!------------ END FORM WATCHED -------------->




    <!----------------FORM LEARNED--------------->    <!----------------FORM LEARNED----------------->
    <form id="form-type-l" class="form-var" action="/new_learned" method="post">
    <div class="form-group" id="post-type-div-l">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">Type</div>
            </div>
            <label class="control-label" for="select-post-dropdown-l"> </label>
            <div class="dropdown form-control dark" id="select-post-dropdown-l">
                <button class="btn dropdown-toggle"
                        type="button"
                        id="dropdown-btn-l"
                        data-toggle="dropdown">
                    Select</button>
                <div class="dropdown-menu" role="menu">
                    <a class="dropdown-item opt" role="menuitem" name="Learned" href="#">Today I Learned</a>
                    <a class="dropdown-item opt" role="menuitem" name="Thought" href="#">Today I Thought</a>
                    <a class="dropdown-item opt" role="menuitem" name="Heard"   href="#">Today I Heard</a>
                    <a class="dropdown-item opt" role="menuitem" name="Watched" href="#">Today I Watched</a>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group" id="post-title-div-l">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">Title</div>
            </div>
            <label class="control-label" for="post-title-l"> </label>
            <input type="text" class="form-control dark" id="post-title-l" name="learnedTitle" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="post-body-l"> </label>
        <textarea class="form-control dark" id="post-body-l" rows="12" name="learnedBody" required> </textarea>
    </div>
        <div class="row">
            <div class="col-12" id="submit-div-l">
                <div class="form-group">
                    <div class="input-group">
                        <label for="submit-l"> </label>
                        <button type="submit" class="btn post-btn" id="submit-l">Post</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!------------ END FORM LEARNED ------------->    <!------------ END FORM LEARNED -------------->




    <!----------------FORM THOUGHT--------------->    <!----------------FORM THOUGHT----------------->
    <form id="form-type-t" class="form-var" action="/new_thought" method="post">
        <div class="form-group" id="post-type-div-t">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Type</div>
                </div>
                <label class="control-label" for="select-post-dropdown-t"> </label>
                <div class="dropdown form-control dark" id="select-post-dropdown-t">
                    <button class="btn dropdown-toggle"
                            type="button"
                            id="dropdown-btn-t"
                            data-toggle="dropdown">
                        Select</button>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item opt" role="menuitem" name="Learned" href="#">Today I Learned</a>
                        <a class="dropdown-item opt" role="menuitem" name="Thought" href="#">Today I Thought</a>
                        <a class="dropdown-item opt" role="menuitem" name="Heard"   href="#">Today I Heard</a>
                        <a class="dropdown-item opt" role="menuitem" name="Watched" href="#">Today I Watched</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" id="post-title-div-t">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Title</div>
                </div>
                <label class="control-label" for="post-title-t"> </label>
                <input type="text" class="form-control dark" id="post-title-t" name="thoughtTitle" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="post-body-t"> </label>
            <textarea class="form-control dark" id="post-body-t" rows="12" name="thoughtBody" required> </textarea>
        </div>
        <div class="row">
            <div class="col-12" id="submit-div-t">
                <div class="form-group">
                    <div class="input-group">
                        <label for="submit-t"> </label>
                        <button type="submit" class="btn post-btn" id="submit-t">Post</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!------------ END FORM THOUGHT ------------->    <!------------ END FORM THOUGHT -------------->


</div><!-- END NEW POST WRAPPER DIV -->
