@font-face {
    font-family: 'tr_eklekticregular';
    src: url('../fonts/TR Eklektic/tr_eklektic-webfont.woff2') format('woff2'),
         url('../fonts/TR Eklektic/tr_eklektic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    width: 100%;
    /*font-family: 'Josefin Slab', serif;*/
    /*font-family: 'Playfair Display', serif;*/
    /*font-family: 'Roboto', sans-serif;*/
}


body {
    /*font-family:      'Reem Kufi', sans-serif;*/
    /*font-family: Trixie-Plain, cursive;*/
    /*font-family: KaiTi, serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size:        24pt;
    width:            100%;
    height:           100%;
    margin:           0;
    background-color: black;
    color:            #fff;
}


#body {
    margin:           0 auto;
    background-color: transparent;
    height:           100%;
}


* {
    padding:    0;
    margin:     0;
    box-sizing: border-box;
}


h1 {
    /*font-family: "TR Eklektic", cursive;*/
    font-family:   "La Belle Aurore", cursive;
    /*font-family: "Lexikos Plain", sans-serif;*/
    color:         #F40717;
    margin-bottom: 1em;
    margin-top: 0;
}


.equal-width {
    flex: 1;
}


.col {
    margin:  0;
    padding: 0;
}


div {
    padding: 0;
    margin:  0;
}


.row {
    width:   inherit;
    margin:  0;
    padding: 0;
}

.navbar-toggler-icon, .sidebar-toggle-button, .navbar-form {
    font-size: 12pt;
}



/*******************  NAV  **************************/
.navbar-nav > .nav-item.list-group-item {
    color:            #F40717;
    font-weight:      900;
    font-size:        20pt;
    font-family:      "La Belle Aurore", cursive;
    /*font-family:      "TR Eklektic", serif;*/
    background-color: transparent;
    border:           none;
    align-content:    center;
    align-self:       center;
    align-items:      center;
}


/* Navigation List Items */
.nav-item.list-group-item > a {
    color:               #F40717;
    transition-duration: 0.4s;
    border-radius:       12px;
    align-content:       center;
    align-items:         center;
    margin:              0;
    padding:             0;
}


/* Navigation List Links */
.nav-item.list-group-item > a:hover,
.nav-item.list-group-item > a:focus {
    background-color: #fff;
    color:            black;
    padding:          10px 21px 5px 10px;
}


/* Navigation List Links Hover/Focus */
.navbar.navbar-dark {
    background: transparent;
    display:    inline;
    margin-top: 0;
    margin-bottom: 0;
}

#navbar-div {

    background: linear-gradient(darkslategrey, black);
    opacity: 0.5;
    margin: 0.5em 0 0.5em 0;
}


 /*Navbar */
@media all and (max-width: 567px) {
    #nav-login-form {
        display: none;
    }
}


#username-field, #password-field, #submit-btn {
    display: none;
    margin:  0 0 0 5px;
}


.form-group.nav.navbar-nav.float-lg-right {
    align-content: space-between;
}


.navbar-toggler-icon {
    color: #1986C1;
}

#top-nav{
    margin: 0;
    padding: 0;
}
/******************  END NAV  ************************/



/******************  SIDEBAR  ************************/
#sidebar-toggle-button {
    /*padding:   .2em 1em;*/
    /*font-size: 1em;*/
    padding: inherit;
    font-size: .75em;
    border:    none;
}


#sidebar-toggle-button:focus {
    outline: none;
}


#sidebar-toggle-button:hover {
    border-left: 1px solid #1986C1;
    border-top:  1pt solid #1986C1;
}


#sidebar-div {
    color:            #F40717;
    background-color: black;
    display:          none;
    margin-top:       15px;
    align-content:    center;
    height:           100%;
    border-right:     1pt solid #fff;
    max-width:        435px;
    width: min-content ;
}


#sidebar-div p {
    margin:    15px;
    font-size: 0.917em;
}


#sidebar-div > ul {
    list-style: none;
}
/****************** END SIDEBAR **********************/



/*****************  CONTENT  *************************/
#content {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: transparent;
}


#content-left {
    bottom:        0;
    font-size:     large;
    /*padding-top:   2em;*/
    margin-left:   1em;
    padding-right: 2em;
    width:         auto;
    background-color: transparent;
    margin-top: 0;
}


#content-right {
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 0;

}


#content-right-img{
    overflow: hidden;
    height: 100%;
    position: fixed;
    margin: 0;
    object-fit: scale-down;
    padding: 0;
    z-index: -1;
    top: 0;
}


#content-left-img {
    overflow: hidden;
    height: 100%;
    position: fixed;
    margin: 0 auto;
    object-fit: scale-down;
    z-index: -1;
}


footer {
    bottom:     0;
    margin-top: auto;
}
/*****************  END CONTENT  *********************/



/***************  MEDIA BREAKPOINTS  *****************/
@media all and (max-width: 991px) {
    #content {
        flex-flow: column-reverse nowrap;
    }
}


@media all and (max-width: 991px) {
    #content-right, #content-left {
        display:       block;
        max-width:     100%;
        width:         100%;
        margin-bottom: 2em;
    }
}


@media all and (max-width: 991px) {
    .equal-width {
        flex: 0 auto;
    }
}


@media all and (min-width: 992px) {
    #content-left {
        margin-left: 4em;
        width:       40%;
        max-width:   40%;
    }
    #content-right {
        max-width: 60%;
        width:     60%;
    }
}


@media all and (min-width:768px) and (max-width:991px) {
    #content-left {
        padding-top: 0;
    }
}


@media all and (max-width:991px) {
    #content-right-img {
        width:      100%;
        align-self: flex-end;
        margin:     auto;
        overflow:   hidden;
        position:   relative;
        display:    block;
    }
    #content-left-img {
        width: 100%;
        align-self: flex-end;
        margin: auto;
        overflow: hidden;
        position: relative;
        display: block;
        z-index: -1;
    }
    #content-right {
        padding: 0;
    }
}


@media all and (min-width: 992px)  {
    #content-right-img, #content-left-img {
        width:      80%;
        object-fit: cover;
    }
}


@media all and (min-width:540px) and (max-width: 1199px) {
    #content-right {
        height: 225px;
    }
    #content-right-img {
        object-fit: cover;
    }
    #content-left-img {
        object-fit: cover;
    }
}
/****************** END BREAKPOINTS  *****************/



/********************  FOOTER  ***********************/
.footer-block {
    padding:10px;
}


#footer-div {
    height:     100%;
    bottom:     0;
    min-height: 30px;
    position:   relative;
    padding:    0;
    margin:     0 0 0 0;
    text-align: center;
}


.footer {
    flex-shrink: 0;
    margin-top:  auto;
    min-height:  30px;
    position:    relative;
    bottom:      0;
    font-size:   small;
    display:     block;
    text-align:  center;
}
/******************** END FOOTER *********************/



/******************** NEW POST ***********************/
#new-post {
    display: inherit;
}


.dark {
    background-color: black;
    color:            #fff;
}


.dark:focus {
    color:            #1986C1;
    background-color: black;
    outline:          none;
}


.input-group-text {
    background-color: black;
    color:            #fff;
}


#form-header {
    display: inherit;
}
/******************* END NEW POST ********************/



/* --------- POST-TYPE DROPDOWN MENU ----------------*/
#select-post-dropdown-h, #select-post-dropdown-l,
#select-post-dropdown-t, #select-post-dropdown-w,
#select-post-dropdown-x{
    padding: 0;
}


#post-dropdown {
    padding:          0;
    background-color: black;
}


.dropdown-menu {
    width:   100%;
    padding: 0;
    outline: 1pt dashed #fff;
}


.dropdown-menu .dropdown-item.opt {
    text-align:       center;
    background-color: black;
    color:            #fff;
}


.dropdown-menu .dropdown-item.opt:hover {
    transition:       0.4s;
    background-color: #F40717;
    color:            #fff;
}


.dropdown-menu.show {
    width:     100%;
    max-width: 100%;
    min-width: 100%;
}


#post-title-h, #post-title-l, #post-title-t, #post-title-w, #post-title-x {
    font-weight:  bold;
    font-variant: small-caps;
    text-align:   center;
}
/*------------- END -- POST-TYPE DROPDOWN MENU-------*/



/*-------------- FORM: HEARD ------------------------*/
#form-type-h, #form-type-l, #form-type-t, #form-type-w {
    display: none;
}


#dropdown-btn-l, #dropdown-btn-h, #dropdown-btn-t, #dropdown-btn-w, #dropdown-btn-x {
    width:            100%;
    background-color: black;
    color:            #fff;
}


#rating-div {
    border-right:  1pt inset #fff;
    border-radius: 4pt;
}
/*-------------- END FORM: HEARD --------------------*/



/*----------------FORM BUTTONS-----------------------*/
#submit-h, #submit-l, #submit-t, #submit-w, #submit-x {
    display:          block;
    width:            inherit;
    background-color: black;
    border:           1px solid #fff;
    color:            #fff;
}


#submit-h:hover, #submit-l:hover, #submit-t:hover, #submit-w:hover, #submit-x:hover {
    transition:       0.4s;
    background-color: #F40717;
    border:           1px solid #fff;
    color:            #fff;
}


#submit-h:focus, #submit-l:focus, #submit-t:focus, #submit-w:focus, #submit-x:focus {
    background-color: darkred;
    border:           1px solid #F40717;
    color:            #fff;
}
/*---------------END FORM BUTTONS--------------------*/



/*--------------- FORM: WATCHED ---------------------*/
.watched-col {
    display:     flex;
    align-items: center;
}


.col-4.watched-col {
    margin-left:  10px;
    margin-right: -10px;
}


#file-input-w {
    color:            transparent;
    padding:          0;
    background-color: black;
    width:            100%;
    margin:           0;
}


.custom-file-upload {
    border:  1px solid #fff;
    display: inline;
    cursor:  pointer;
    padding: 6px 12px;
    margin:  0;
}


#file-prepend-text-w {
    padding-left:  12px;
    padding-right: 12px;
}


/*input[type='file'] {*/
#file-input-w {
    color:            transparent;
    background-color: transparent;
    display:          none; /* orig: none */
}


#file-input-label-w {
    border-bottom-right-radius: 3pt;
    border-top-right-radius:    3pt;
}


#form-type-w, #file-input-outer-div-w, #url-input-outer-div-w{
    display: none; /* orig: none */
}


#file-input-outer-div-w, #url-input-outer-div-w {
    padding-right: 0;
}


#submit-div-w {
    padding-left:  0;
    padding-right: 0;
}
/*--------------- END FORM: WATCHED -----------------*/


.post-container {
    border-bottom: 3pt ridge #5B5555;
    margin-top: 2em;
    padding-bottom: 2em;
}





.post-solo-title {
    font-weight:   900;
    color:         #F40717;
    margin-bottom: .25em;
    font-family:   tr_eklekticregular, cursive; /* Karton, Annodomini, Scrawl of the Chief, TR Electric,  */
    text-align:    center;
    font-size:     40pt;
    /*border: 3pt double #437C90/*#326066*/;
    width: 80%;
    margin-left: 1em;
    padding: .45em;
    align-items: center;

    /*background: url('../images/flower_light_burst.jpg') no-repeat center;*/
}

hr {
    background-color: #5B5555;/*#326066;#5F5449;#0B2027;*/
    /*margin-bottom: 7%;*/
}

sub {
    color: #F40717;
}

.post-body {
    color: #fff;/*#437c90;#5FBFF9;*/
    margin-top: 1em;
 }


.post-solo-body {
    color: #fff;
    margin: 1em 1em 2.5em 1em;
    font-size: 13pt;

}


.post-solo-body::first-line {
    color: #1986C1;
}

.post-solo-body::first-letter {
    color: #F40717;
    font-family: tr_eklekticregular, cursive;
    font-size: 40pt;
    font-weight: 800;
}

.post-link {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #F40717;
    text-decoration: underline;
    font-size: 20pt;
    margin-bottom: .75em;
}
/*.post-title {*/
    /*color: #F40717;*/
    /*font-size: 22pt;*/
    /*text-decoration: underline;*/
    /*margin-bottom: 0;*/
    /*padding-bottom: 0;*/
/*}*/

.post-title {
    margin-bottom: 0;
    font-weight: 800;
    color: #F40717;
    text-decoration: underline;
    align-items: center;
    justify-content: center;
    text-justify: distribute;
    display: flex;
    font-size: 22pt;
}

.post-link:hover, .post-link:focus,
.post-title:hover, .post-title:focus {
    color: #5B5555;
}

ul {
    list-style: none;
}

.section-title {
    /*font-family:   "TR Eklektic", cursive;*/
    align-items: center;
    justify-content: center;
    display: flex;
    font-family:   "La Belle Aurore", cursive;
    color:          #F40717;
    padding-bottom: 1em;
    font-size:      36pt;
}

.post-publication {
    text-align: center;
    margin-top: 2em;
    font-size: 9pt;
    color: #5B5555;
}


.btn.btn-dark.btn-outline-dark {
    background-color: #000 /*#5FBFF9*/;
    color:            #1986C1;
    margin-left:      0;
    margin-right:     0;
    border:           1pt outset #1986C1;
    /*border-collapse: collapse;*/
}


.btn.btn-dark.btn-outline-dark:hover,
.btn.btn-dark.btn-outline-dark:focus {
    background-color: #1986C1;
    color:            #000;
    transition:       .6s;
    border:           1pt ridge #1986C1;

}


.crud.btn-group {
    margin-top: 1em;
    /*margin-bottom: 0;*/
    /*padding: 0;*/
}


.update-btn {
    display: block;
    margin:  auto auto 1.5em;
}


#watched-file-input {
    border: 1.25pt solid #fff;
    border-radius: 5px;
}

input[type="text"], input[type="url"], input[type="file"] {
    background: #000;
    color: #F40717;
    font-size: 14pt;
}

#watched-body-input, #heard-body-input, #learned-body-input, #thought-body-input {
    background: black;
    color: #1986C1;
    font-size: 12pt;
    text-align: justify;
    padding: 1.5em 2em 1em 2em;
    resize: both;
    width: 100%;
}

label {
    margin:0;
}

.list-inline {
    display: inline-flex;
    font-size: 10pt;
    /*color: #01295F;*/
    /*color: #FF9F1C;*/
    color: #84BC00;
}

.list-cat-header {
    font-weight: 900;
    color: #5B5555;
    border: 1pt solid #2b2D42;
    border-collapse:  collapse;
}

.list-inline a {
    color: #84BC00;
}

.list-group-flush.list-group-dark {
    text-align: center;
}

.btn-left {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.btn-right {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.text-center.row.btn-group {
    width: 100%;
}

.btn-div-left {
    justify-content: flex-end;
    width: 100%;
}

.btn-div-right {
    justify-content: flex-start;
    width: 100%;
}

.update-btn-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.publication-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-page {
    margin-top: 2.5em;
}

.post-publication.edit {
    margin-top: 0;
}
